* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: font1;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Widgets */
.fwidget {
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 5;
}

.fwidget img {
    width: 70px;
    height: 70px;
}

/* Widgets */

/* Pop up start */

.popUp {
    background-image: linear-gradient(180deg, blue, purple 70%);
    opacity: 0.7;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh;
}

.popUp .button {
    position: absolute;
    top: 10%;
    left: 70%;
    border: none;
    color: white;
    width: 54px;
    height: 54px;
    line-height: 54px;
    text-decoration: none;
    text-align: center;
    background: none;
    cursor: pointer;
}

.popUp p:nth-child(2) {
    font-size: 36px;
    color: #ffec54;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 20%;
    text-align: center;
    width: 440px;
}

.popUp p:nth-child(3) {
    font-size: 100px;
    color: white;
    font-weight: bold;
    display: flex;
    position: absolute;
    top: 37%;
    text-align: center;
    width: 900px;
    font-weight: bolder;
    line-height: 80px;
    font-family: "font1";
}

.popUp p:nth-child(4) {
    font-size: 24px;
    color: #ffec54;
    font-weight: medium;
    display: flex;
    position: absolute;
    top: 65%;
    text-align: center;
    line-height: 80px;
    font-family: "font1";
}

.popUp a:nth-child(5) {
    font-size: 18px;
    color: white;
    font-weight: medium;
    display: flex;
    position: absolute;
    top: 78%;
    text-align: center;
    line-height: 80px;
    font-family: "font1";
    padding: 4px 37px;
    background-color: rgb(6, 6, 231);
    border-radius: 5px;
    box-shadow: 5px 5px 20px black;
    transition: all 0.3s ease-in-out;
}

.popUp a:nth-child(5):hover {
    transition: all 0.3s ease-in-out;
    filter: brightness(2);
}

.popUp img {
    position: absolute;
    display: flex;
    top: 5%;
    width: 100px;
}

.popUp img:nth-child(7) {
    position: absolute;
    display: flex;
    top: 9%;
    left: 45.7%;
    width: 85px;
    animation-name: throttle;
    animation-duration: 3ms;
    animation-delay: 200ms;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes throttle {
    0% {
        transform: rotate(-2deg);
    }

    20% {
        transform: rotate(2deg);
    }

    40% {
        transform: rotate(-2deg);
    }

    60% {
        transform: rotate(2deg) scaleY(1.04);
    }

    80% {
        transform: rotate(-2deg) scaleY(0.92);
    }

    100% {
        transform: rotate(2deg);
    }
}

/* Pop up end */

/* Header start */
#header {
    height: 50px;
    position: relative;
}

#header.sticky {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: white;
    width: 100%;
    animation-name: swipe;
    animation-duration: 300ms;
    animation-timing-function: ease;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    z-index: 5;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

@keyframes swipe {
    from {
        top: -100%;
    }

    to {
        top: 0%;
    }
}

.container {
    width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
}

/* Logo properties start */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}

/* Logo properties end */

/* Navigation bar start */
.navigationBar {
    width: 62%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.navigationBar ul li {
    display: inline-block;
    margin: 0px 5px;
}


.navigationBar ul li:nth-child(1) a {
    color: #2879fe;
    font-size: 14px;
}

.navigationBar ul li a {
    color: black;
    transition: all 0.2s ease-in-out;
    font-size: 14px;
    font-weight: 500;
}

.navigationBar ul li a:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.dropDownContent {
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    display: flex;
    width: 49%;
    margin-top: 5px;
    background-color: white;
    z-index: 5;


}

.col1 {
    margin: 5px;
}

.col2 {
    margin: 5px;
}

.col3 {
    margin: 5px;
}

.col4 {
    margin: 5px;
}

.navigationBar ul :hover .dropDownContent {
    visibility: visible;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.dropDownContent .container1 {
    margin: auto;
    position: absolute;
    display: flex;
    background-color: white;
    padding: 10px 10px;
    width: auto;
    height: auto;

}

/* col1 start */
.dropDownContent .col1 {
    display: flex;

}

.dropDownContent .col1 li {
    display: flex;
}

.dropDownContent .col1 span {
    display: flex;
    color: white;
    font-size: small;
}

.dropDownContent .col1 h5 {
    padding-bottom: 5px;
    padding-top: 30px;
    display: flex;
    padding-left: 14px;
    transition: all 0.3s ease-in-out;
    color: black;
    font-size: 15px;
}

.dropDownContent .col1 h5:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.navigationBar ul li .dropDownContent .container1 .col1 a {
    color: grey;
    transition: all 0.3s ease-in-out;
}

.navigationBar ul li .dropDownContent .container1 .col1 a:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.col1 ul li a {
    color: black;
}

/* col1 end */

/* col2 start */

.dropDownContent .col2 {
    display: flex;
}

.navigationBar ul li .dropDownContent .container1 .col2 a {
    color: grey;
    transition: all 0.3s ease-in-out;
}

.dropDownContent .col2 li {
    display: flex;
}

.dropDownContent .col2 h5 {
    padding-bottom: 5px;
    padding-top: 30px;
    display: flex;
    padding-left: 14px;
    transition: all 0.3s ease-in-out;
    color: black;
    font-size: 15px;
}

.dropDownContent .col2 h5:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.navigationBar ul li .dropDownContent .container1 .col2 a:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

/* col2 end */

/* col3 start */
.dropDownContent .col3 {
    display: flex;
}

.navigationBar ul li .dropDownContent .container1 .col3 a {
    color: grey;
    transition: all 0.3s ease-in-out;
}

.dropDownContent .col3 li {
    display: flex;
}

.dropDownContent .col3 h5 {
    padding-bottom: 5px;
    padding-top: 30px;
    display: flex;
    padding-left: 14px;
    transition: all 0.3s ease-in-out;
    color: black;
    font-size: 15px;
}

.dropDownContent .col3 h5:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}


.navigationBar ul li .dropDownContent .container1 .col3 a:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

/* col3 end */

/* col4 start */
.dropDownContent .col4 {
    display: flex;
}

.navigationBar ul li .dropDownContent .container1 .col4 a {
    color: grey;
    transition: all 0.3s ease-in-out;
}

.dropDownContent .col4 li {
    display: flex;
}

.dropDownContent .col4 h5 {
    padding-bottom: 5px;
    padding-top: 30px;
    display: flex;
    padding-left: 14px;
    transition: all 0.3s ease-in-out;
    color: black;
    font-size: 15px;
}

.dropDownContent .col4 h5:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.navigationBar ul li .dropDownContent .container1 .col4 a:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

/* col4 end */

/* Navigation bar end */

/* Search bar start */
.searchBar {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar i {
    color: black;
    display: inline-block;
    margin: 0px 10px;
    transition: all 0.2s ease-in-out;
}

.searchBar i:hover {
    color: #2879fe;
    transition: all 0.2s ease-in-out;
}

/* Search bar end */

/* Header end */

/* Header underline start */
.headerUnderline {
    width: 100%;
    background-color: rgb(233, 232, 232);
    height: 25px;
}

.headerUnderline .container {
    width: 80%;
    margin: auto;
    padding-top: 3px;
}

.headerUnderline .container a {
    color: #545454;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}

.headerUnderline .container a:hover {
    color: #2879fe;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
}

.headerUnderline .container span:nth-child(2) {
    color: #545454;
    font-size: 12px;
    margin: 0px 3px;
}

.headerUnderline .container span:nth-child(3) {
    color: #545454;
    font-size: 12px;
}

/* Header underline end */

/* News start */

#news .newsContainer {
    display: flex;
    justify-content: center;
}

.areaContainer {
    height: 340vh;
    width: 81%;
    margin: auto;
    display: flex;
}

.leftArea {
    width: 25%;
    margin-right: 60px;
}

.leftArea h3 {
    font-weight: lighter;
    font-size: 16px;
}

.leftArea a:nth-child(5) {
    color: #888;
    display: block;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(5):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(6) {
    color: #888;
    display: block;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(6):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea p {
    color: #888;
    font-size: 14px;
}

.leftArea a:nth-child(15) {
    color: #2879fe;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(15):hover {
    color: black;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(22) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(22):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(23) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(23):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(24) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(24):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(25) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(25):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(26) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(26):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(27) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(27):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(28) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(28):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(29) {
    color: #777;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(29):hover {
    transition: all 0.3s ease-in-out;
    color: #2879fe;
}

.leftArea a:nth-child(37) {
    color: #2879fe;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
    font-size: 12px;
}

.leftArea a:nth-child(37):hover {
    transition: all 0.3s ease-in-out;
    color: #777;
}

.leftArea a:nth-child(38) {
    color: black;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.leftArea a:nth-child(38):hover {
    color: #2879fe;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.leftArea a:nth-child(39) {
    color: black;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(39):hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.leftArea p:nth-child(40) {
    color: #777;
    font-size: 14px;
    font-weight: lighter;
}

.leftArea a:nth-child(43) {
    color: #2879fe;
    font-size: 14px;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(43):hover {
    color: black;
    font-size: 14px;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(45) {
    color: black;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.leftArea a:nth-child(45):hover {
    color: #2879fe;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.leftArea a:nth-child(49) {
    color: #2879fe;
    font-size: 14px;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;

}

.leftArea a:nth-child(49):hover {
    color: black;
    font-size: 14px;
    font-weight: lighter;
    transition: all 0.3s ease-in-out;
}

.leftArea a:nth-child(51) {
    color: black;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.leftArea a:nth-child(51):hover {
    color: #2879fe;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.leftArea p:nth-child(60) {
    color: #777;
    font-size: 14px;
}

.leftArea input {
    width: 100%;
    padding: 10px;
    background-color: rgb(236, 230, 230);
    border-color: white;
}

.submit input {
    padding: 15px 31px;
    background-color: #2879fe;
    border: #2879fe;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.submit input:hover {
    background-color: #1d59bb;
    border: #1d59bb;
    transition: all 0.3s ease-in-out;
}


.rightArea {
    width: 70%;
}


/*  */

.ajaxFiltres {
    position: relative;
}

.ajaxFiltres .text a:nth-child(1) {
    color: #2879fe;
    font-weight: lighter;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text a:nth-child(1):hover {
    color: black;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text a:nth-child(3) {
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text a:nth-child(3):hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text p {
    color: #777;
    font-size: 14px;
    font-weight: lighter;
}

.ajaxFiltres .text p a:nth-child(1) {
    color: #777;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text p a:nth-child(1):hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text a:nth-child(10) {
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #2879fe;
    color: white;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text a:nth-child(10):hover {
    transition: all 0.3s ease-in-out;
    background-color: #123670;
}

.ajaxFiltres .text{
    margin-left: 0px;
}

/*  */

.ajaxFiltres {
    position: relative;
}

.ajaxFiltres .text2 a:nth-child(1) {
    color: #2879fe;
    font-weight: lighter;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text2 a:nth-child(1):hover {
    color: black;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text2 a:nth-child(3) {
    color: black;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text2 a:nth-child(3):hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text2 p {
    color: #777;
    font-size: 14px;
    font-weight: lighter;
}

.ajaxFiltres .text2 p a:nth-child(1) {
    color: #777;
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text2 p a:nth-child(1):hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text2 a:nth-child(10) {
    padding: 10px 30px;
    border-radius: 3px;
    background-color: #2879fe;
    color: white;
    transition: all 0.3s ease-in-out;
}

.ajaxFiltres .text2 a:nth-child(10):hover {
    transition: all 0.3s ease-in-out;
    background-color: #123670;
}

.ajaxFiltres .text2{
    margin-left: 0px;
}

.ajaxFiltres .text2 audio{
    width: 100%;
}

/* News end */

/* Pages start */

.pages{
   position: relative;
   display: flex;
   justify-content: center;
}

.rightArea .pages a:nth-child(2){
    display: flex;
    color: #2879fe;
    justify-content: center;
    margin-left: 10px;
}

.rightArea .pages a:nth-child(1){
    color: black;
    transition: all 0.3s ease-in-out;
    justify-content: center;
   
}

.rightArea .pages a:nth-child(1):hover{
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

/* Pages end */

/* Footer line start */
#footerLine {
    height: 10vh;
    background-color: #2879fe;
}

.footerContainer {
    width: 80%;
    margin: auto;
    display: flex;
}

.beInTouch {
    width: 25%;
    position: relative;
}

.beInTouch h4 {
    position: absolute;
    top: 25px;
    color: white;
}

.joinUs {
    position: relative;
    width: 50%;
}

.joinUs input:nth-child(1) {
    position: absolute;
    display: flex;
    top: 15px;
    border: solid white;
    width: 507px;
    height: 40px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.joinUs input:nth-child(2) {
    position: absolute;
    display: flex;
    top: 15px;
    left: 505px;
    border: solid #303030;
    background-color: #303030;
    color: white;
    height: 40px;
    width: 87px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.joinUs input:nth-child(2):hover {
    transition: all 0.3s ease-in-out;
    background-color: black;
    cursor: pointer;
}

.social {
    display: flex;
    width: 23%;
    position: relative;
    justify-content: right;
}

.social a {
    display: flex;
    margin: 10px;
    color: white;
    padding-top: 15px;
    transition: all 0.3s ease-in-out;
}

.social a:hover {
    color: #303030;
    transition: all 0.3s ease-in-out;
}

/* Footer line end */

/* Footer categories start */

#footerCategories {
    height: 50vh;
}

.footerCategoriesContainer {
    width: 80%;
    margin: auto;
    display: flex;
}

.col {
    width: 24%;
    margin: 5px;
}

.col a {
    color: #777;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
}

.col a:hover {
    color: #2879fe;
    transition: all 0.3s ease-in-out;
}

.col p {
    color: #777;
    font-size: 14px;
}

.col span {
    font-size: 14px;
    color: black;
}


/* Footer categories end */

/* Footer bottom start */
#footerBottom {
    height: 10vh;
}

.footerBottomContainer {
    width: 80%;
    margin: auto;
    display: flex;
}

.bottomLeft {
    width: 50%;
    position: relative;
}

.bottomLeft a {
    padding-top: 17px;
}

.bottomLeft p {
    font-size: 14px;
    color: #888;
    display: inline-block;
    padding-top: 25px;
}

.bottomRight {
    position: relative;
    width: 49%;
}

.bottomRight a {
    padding-top: 5px;
    float: right;
    margin: 2px;
    transition: all 0.3s ease-in-out;
}

.bottomRight a:hover {
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
}

/* Footer bottom end */
/* Footer end */